<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Kantin 27</title>
    <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="/frontend/css/prettyPhoto.css" rel="stylesheet">
    <link href="/frontend/css/price-range.css" rel="stylesheet">
    <link href="/frontend/css/animate.css" rel="stylesheet">
    <link href="/frontend/css/main2.css" rel="stylesheet">
    <link href="/frontend/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="/frontend/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/frontend/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/frontend/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/frontend/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/frontend/images/ico/apple-touch-icon-57-precomposed.png">
    <script src="/frontend/js/jquery.js"></script>
</head><!--/head-->

<body>
  <header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="contactinfo">
              <ul class="nav nav-pills">
                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                <li><a href=""><i class="fa fa-envelope"></i> foodday@gmail.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="social-icons pull-right">
              <ul class="nav navbar-nav">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo pull-left">
              <a href="/menu"><p>Kantin 27</p></a>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li><a href="/me"><i class="fa fa-user"></i> Akun</a></li>
                <li><a href="#"><i class="fa fa-star"></i> Kesukaan</a></li>
                <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Troli</a></li>
                <li id="statusLogin"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
    <script type="text/javascript">
      var data = localStorage.getItem('dataLogin');
      if(!data) {
        $("#statusLogin").html('<a href="/login"><i class="fa fa-sign-in"></i> Masuk</a>');
      }else{
        $("#statusLogin").html('<a href="#" id="logout"><i class="fa fa-sign-out"></i> <span id="statusLogin"> Keluar</span></a>');
      }
      $("#logout").click(function() {
          localStorage.removeItem('dataLogin');
          window.location.href = '/menu';
      });
    </script>
