<aside id="slide-out" class="side-nav white fixed">
    <div class="side-nav-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-profile-image">
                <img src="/backend/assets/images/profile-image.png" class="circle" alt="">
            </div>
            <div class="sidebar-profile-info">
                <a href="javascript:void(0);" class="account-settings-link">
                    <p><%= dataLogin.username %></p>
                    <span><%= dataLogin.jenis_user %><i class="material-icons right">arrow_drop_down</i></span>
                </a>
            </div>
        </div>
        <div class="sidebar-account-settings">
            <ul>
                <li class="no-padding">
                    <a class="waves-effect waves-grey"><i class="material-icons">mail_outline</i>Inbox</a>
                </li>
                <li class="no-padding">
                    <a class="waves-effect waves-grey"><i class="material-icons">exit_to_app</i>Sign Out</a>
                </li>
            </ul>
        </div>
    <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
        <li class="no-padding"><a class="waves-effect waves-grey" href="/admin/dashboard"><i class="material-icons">settings_input_svideo</i>Dashboard</a></li>
        <% if(dataLogin.jenis_user == 'owner') {%>
        <li class="no-padding">
            <a href="/admin/user" class="collapsible-header waves-effect waves-grey"><i class="material-icons">account_circle</i>Management User</a>
        </li>
        <li class="no-padding">
            <a href="/admin/menu" class="collapsible-header waves-effect waves-grey"><i class="material-icons">developer_board</i>Management Menu</a>
        </li>
        <% }  %>
        <li class="no-padding">
            <a href="/admin/pemesanan" class="collapsible-header waves-effect waves-grey"><i class="material-icons">subtitles</i>Pemesanan</a>
        </li>
    </ul>
    </div>
</aside>
