<% include ../partials/header %>
<link href="/backend/assets/plugins/select2/css/select2.css" rel="stylesheet">
<% include ../partials/aside %>

<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Form Tambah Pemesanan</div>
        </div>
        <div class="col s6 offset-s3">
            <div class="card">
                        <div class="card-content">
                            <span class="card-title">Detail Pemesanan</span><br>
                            <p><b>User</b> : Hardi Detinasi.</p>
                            <p><b>Status Pemesanan</b> : Success.</p>
                            <p><b>Total Harga</b> : 20000.</p>
                            <p><b>Driver</b> : Bieka gaga.</p>
                            <p><b>Menu</b> :
                              <ul>
                                <li>Ayam Goreng</li>
                                <li>Sayur</li>
                                <li>Air Mineral</li>
                              </ul>
                            </p>
                        </div>
                </div>
        </div>
    </div>
</main>

<% include ../partials/footer %>
<script src="/backend/assets/plugins/google-code-prettify/prettify.js"></script>
<script src="/backend/assets/js/pages/dialogs.js"></script>
