<% include ./partials/header %>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Menu</td>
							<td class="price">Harga</td>
							<td class="quantity">Jumlah</td>
							<td class="total">Sub Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="cart">

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Informasi Pembelian Dan Pengiriman</h3>
				<p>Isi data pengiriman sesuai lokasi.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<!--
								<input type="checkbox">
								<label>Use Coupon Code</label>
							-->
							</li>
						</ul>
						<ul class="user_info">
              <p id="alamat">Jln.Citepus 3 no.38 RT/RW 10/10 Kelurahan Pajajaran Kecamatan Cicendo Kota Bandung</p>
						</ul>
						<a class="btn btn-default update" href="">Ganti Alamat</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Biaya Pengiriman <span>Gratis</span></li>
							<li>Total Pembayaran <span id="total_pembayaran">Rp 70.1300</span></li>
						</ul>
							<a class="btn btn-default update" href="">Lainnya</a>
							<a id="bayar" class="btn btn-default check_out">Bayar</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<footer id="footer"><!--Footer-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="companyinfo">
							<h2><span>Kantin</span>27</h2>
							<p> Daftar Dan Pesan Sekarang.</p>
						</div>
					</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-0">
						<div class="single-widget">
							<h2>Layanan Pelanggan</h2>
								<ul class="nav nav-pills nav-stacked">
								<li><a href="">Bantuan</a></li>
								<li><a href="">Kontak</a></li>
								<li><a href="">FAQ’s</a></li>
							</ul>
						</div>
					</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-widget letters">
							<h2>Berlangganan Email</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Email Pelanggan" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Dapatkan pemberitahuan promo dengan berlangganan Email.</p>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2017 Kantin27 Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->


    <script src="/frontend/js/bootstrap.min.js"></script>
	  <script src="/frontend/js/jquery.scrollUp.min.js"></script>
    <script src="/frontend/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript">
      var dataLogin = localStorage.getItem('dataLogin');
      if(!dataLogin) {
          window.location.href = '/login';
      }

      var dataPesan = sessionStorage.getItem('historyDataPesan');
      var dataPesanJson = JSON.parse(dataPesan);
      var data = ``;
      var total = 0;
      dataPesanJson.forEach(function(item,index) {
        var subtotal = item.harga * item.jumlah;
        total += subtotal;
        data += `<tr>
          <td class="cart_product">
            <a href="">${item.nama}</a>
          </td>
          <td class="cart_price">
            <p>Rp ${item.harga}</p>
          </td>
          <td class="cart_quantity">
            <div class="cart_quantity_button">
              <a class="cart_quantity_up" href=""> + </a>
              <input class="cart_quantity_input" index="${index}" id="jml${index}" type="number" style="width:50px" name="quantity" value="${item.jumlah}" autocomplete="off" size="2">
              <a class="cart_quantity_down" href=""> - </a>
            </div>
          </td>
          <td class="cart_total">
            <p class="cart_total_price" id="subtotal">Rp ${subtotal}</p>
          </td>
          <td class="cart_delete">
            <a class="cart_quantity_delete" id="deleteItem" index="${index}" data="${item.id_menu}"><i class="fa fa-times"></i></a>
          </td>
        </tr>`;
      });

      $("#cart").html(data);

      $("#total_pembayaran").html(`Rp. ${total}`);

      $("#bayar").click(function() {
        var id_menu = sessionStorage.getItem('dataPesan');;
        var historyDataPesan = sessionStorage.getItem('historyDataPesan');

        var data = {
          id_menu : id_menu,
          total_harga : total
        };

        $.ajax({
            method : 'POST',
            url : '/pesan/online',
            data : data
        }).done(function(response){

          sessionStorage.clear();
          window.location.href = '/me';

        }).error(function(response){
          console.log(response);
        })
        console.log('asd');
      });

      $(document).ready(function() {

      }).on('click','#deleteItem', function() {
        var isGood = confirm('Apakah anda yakin ?');
        if(isGood) {
					var id = $(this).attr('data');
					var index = $(this).attr('index');
          var dataHistory = sessionStorage.getItem('historyDataPesan');
					var dataHistoryJson = JSON.parse(dataHistory);
          console.log(dataHistoryJson);
					dataHistoryJson = jQuery.grep(dataHistoryJson, function(key,value) {
					  return value != index;
					});

					sessionStorage.setItem('historyDataPesan',JSON.stringify(dataHistoryJson));

					var dataPesanHistory = sessionStorage.getItem('dataPesan');
					var dataPesanHistoryJson = JSON.parse(dataPesanHistory);
          console.log(dataHistoryJson);
					dataPesanHistoryJson = jQuery.grep(dataPesanHistoryJson, function(key,value) {
					  return value != index;
					});

					sessionStorage.setItem('dataPesan',JSON.stringify(dataPesanHistoryJson));

					window.location.href = '/cart';
					// console.log(dataHistoryJson);
        }
      }).on('change','.cart_quantity_input', function() {
				var index = $(this).attr('index');
				var jml = $(`#jml${index}`).val();
				// console.log(jml);
				var dataHistory = sessionStorage.getItem('historyDataPesan');
				var dataHistoryJson = JSON.parse(dataHistory);
				dataHistoryJson = jQuery.grep(dataHistoryJson, function(key,value) {
					if(value == index){
						console.log(jml);
						key.jumlah = jml;
					}
					return key;
				});
				sessionStorage.setItem('historyDataPesan',JSON.stringify(dataHistoryJson));

				var dataPesanHistory = sessionStorage.getItem('dataPesan');
				var dataPesanHistoryJson = JSON.parse(dataPesanHistory);
				console.log(dataHistoryJson);
				dataPesanHistoryJson = jQuery.grep(dataPesanHistoryJson, function(key,value) {
					if(value == index){
						console.log(jml);
						key.jumlah = jml;
					}
					return key;
				});

				sessionStorage.setItem('dataPesan',JSON.stringify(dataPesanHistoryJson));
			});
    </script>
</body>
</html>
