<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cart | Kantin 27</title>
    <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="/frontend/css/prettyPhoto.css" rel="stylesheet">
    <link href="/frontend/css/price-range.css" rel="stylesheet">
    <link href="/frontend/css/animate.css" rel="stylesheet">
	<link href="/frontend/css/main2.css" rel="stylesheet">
	<link href="/frontend/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/frontend/js/html5shiv.js"></script>
    <script src="/frontend/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/frontend/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/frontend/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/frontend/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/frontend/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/frontend/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i> +6282771882122</a></li>
								<li><a href=""><i class="fa fa-envelope"></i> Info@kantin27.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><p>LOGO Logo</p><img src="" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/me"><i class="fa fa-user"></i> Akun</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Kesukaan</a></li>
								<li><a href="/cart"><i class="fa fa-shopping-cart"></i> Troli</a></li>
								<li><a href="/logout"><i class="fa fa-sign-out"></i> Keluar</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Menu</td>
							<td class="price">Harga</td>
							<td class="quantity">Jumlah</td>
							<td class="total">Sub Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="cart">

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>Informasi Pembelian Dan Pengiriman</h3>
				<p>Isi data pengiriman sesuai lokasi.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<!--
								<input type="checkbox">
								<label>Use Coupon Code</label>
							-->
							</li>
						</ul>
						<ul class="user_info">
              <p id="alamat">Jln.Citepus 3 no.38 RT/RW 10/10 Kelurahan Pajajaran Kecamatan Cicendo Kota Bandung</p>
						</ul>
						<a class="btn btn-default update" href="">Ganti Alamat</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Biaya Pengiriman <span>Gratis</span></li>
							<li>Total Pembayaran <span id="total_pembayaran">Rp 70.1300</span></li>
						</ul>
							<a class="btn btn-default update" href="">Lainnya</a>
							<a id="bayar" class="btn btn-default check_out">Bayar</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<footer id="footer"><!--Footer-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="companyinfo">
							<h2><span>Kantin</span>27</h2>
							<p> Daftar Dan Pesan Sekarang.</p>
						</div>
					</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-0">
						<div class="single-widget">
							<h2>Layanan Pelanggan</h2>
								<ul class="nav nav-pills nav-stacked">
								<li><a href="">Bantuan</a></li>
								<li><a href="">Kontak</a></li>
								<li><a href="">FAQ’s</a></li>
							</ul>
						</div>
					</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-widget letters">
							<h2>Berlangganan Email</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Email Pelanggan" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Dapatkan pemberitahuan promo dengan berlangganan Email.</p>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2017 Kantin27 Inc. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->



    <script src="/frontend/js/jquery.js"></script>
    <script src="/frontend/js/bootstrap.min.js"></script>
	  <script src="/frontend/js/jquery.scrollUp.min.js"></script>
    <script src="/frontend/js/jquery.prettyPhoto.js"></script>
    <script src="/frontend/js/main.js"></script>
    <script type="text/javascript">
      var dataLogin = localStorage.getItem('dataLogin');
      if(!dataLogin) {
          window.location.href = '/login';
      }

      var dataPesan = sessionStorage.getItem('historyDataPesan');
      var dataPesanJson = JSON.parse(dataPesan);
      var data = ``;
      var total = 0;
      dataPesanJson.forEach(function(item) {
        var subtotal = item.harga * item.jumlah;
        total += subtotal;
        data += `<tr>
          <td class="cart_product">
            <a href="">${item.nama}</a>
          </td>
          <td class="cart_price">
            <p>Rp ${item.harga}</p>
          </td>
          <td class="cart_quantity">
            <div class="cart_quantity_button">
              <a class="cart_quantity_up" href=""> + </a>
              <input class="cart_quantity_input" type="text" name="quantity" value="${item.jumlah}" autocomplete="off" size="2">
              <a class="cart_quantity_down" href=""> - </a>
            </div>
          </td>
          <td class="cart_total">
            <p class="cart_total_price" id="subtotal">Rp ${subtotal}</p>
          </td>
          <td class="cart_delete">
            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
          </td>
        </tr>`;
      });

      $("#cart").html(data);

      $("#total_pembayaran").html(`Rp. ${total}`);

      $("#bayar").click(function() {
        var id_menu = sessionStorage.getItem('dataPesan');;
        var historyDataPesan = sessionStorage.getItem('historyDataPesan');

        var data = {
          id_menu : id_menu,
          total_harga : total
        };

        $.ajax({
            method : 'POST',
            url : '/pesan/online',
            data : data
        }).done(function(response){
          window.location.href = '/me';

        }).error(function(response){
          console.log(response);
        })
        console.log('asd');
      });
    </script>
</body>
</html>
