
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" type="text/css" href="/frontend/css/profile.css">

<!-- Javascript Link -->

<script type="text/javascript" src="/frontend/js/profile.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Kantin 27</title>
    <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="/frontend/css/prettyPhoto.css" rel="stylesheet">
    <link href="/frontend/css/price-range.css" rel="stylesheet">
    <link href="/frontend/css/animate.css" rel="stylesheet">
  <link href="/frontend/css/main2.css" rel="stylesheet">
  <link href="/frontend/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/frontend/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/frontend/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/frontend/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/frontend/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/frontend/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
  <header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="contactinfo">
              <ul class="nav nav-pills">
                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="social-icons pull-right">
              <ul class="nav navbar-nav">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo pull-left">
              <a href="index.html"><p>LOGO Logo</p><img src="" alt="" /></a>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li><a href="/me"><i class="fa fa-user"></i> Akun</a></li>
                <li><a href="#"><i class="fa fa-star"></i> Kesukaan</a></li>
                <li><a href="/cart"><i class="fa fa-shopping-cart"></i> Troli</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i> Keluar</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->

<div class="container">
      <div class="row">


          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Profile Pengguna</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                  <!-- Photo Frame -->
                  <img src="/frontend/img_user/profile-image.png" alt="" id="output" class="img-rounded img-responsive">
                  <!--<img alt="" src="https://4everseomate.files.wordpress.com/2012/05/student.jpg" class="img-rounded img-responsive">-->
                </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Nama Lengkap</td>
                        <td> Reza Aharis Syadul</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>rezaha@gmail.com</td>
                      </tr>
                      <tr>
                        <td>Jenis Kelamin</td>
                        <td>Laki-Laki</td>
                      <tr>
                        <td>Tanggal Lahir</td>
                        <td>1997-10-1</td>
                      </tr>
                      <tr>
                          <td>Telepon</td>
                          <td>081355703115</td>
                      </tr>
                      <tr>
                          <td>Kode Pos</td>
                          <td>40173</td>
                      </tr>
                      <tr>
                        <td>Alamat</td>
                          <td>Jln.Citepus 3 no.38 RT/RW 10/10 Kelurahan Pajajaran Kecamatan Cicendo Kota Bandung</td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Button
                  <a href="#" class="btn btn-primary">SIMPAN</a>
                  <a href="#" class="btn btn-primary">HAPUS</a>
                       Button -->

                </div>
              </div>
            </div>
                 <div class="panel-footer">
                            <div class="row">
                          <!-- Kode Photo -->
                          <div class="upload-btn-wrapper col-sm-8">
                            <button class="btn">Ubah Data Pengguna</button>
                            </div>
                          <!-- Kode Photo -->
                          <!-- Button Edit
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                               Button Edit End -->
                          </div>
                         </div>
                    </div>
                    <div class="panel panel-warning">
                      <div class="panel-heading">
                        <h3 class="panel-title">Detail Pesanan</h3>
                      </div>
                      <div class="panel-body" id="pesanan">


                      </div>
                </div>

          </div>
        </div>
      </div>
    </div>
  <footer id="footer"><!--Footer-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="companyinfo">
              <h2><span>Kantin</span>27</h2>
              <p> Daftar Dan Pesan Sekarang.</p>
            </div>
          </div>

    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-0">
            <div class="single-widget">
              <h2>Layanan Pelanggan</h2>

            </div>
          </div>

    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="single-widget letters">
              <h2>Berlangganan Email</h2>
              <form action="#" class="searchform">
                <input type="text" placeholder="Email Pelanggan" />
                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                <p>Dapatkan pemberitahuan promo dengan berlangganan Email.</p>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2017 FoodDay Inc. All rights reserved.</p>
        </div>
      </div>
    </div>

  </footer><!--/Footer-->
  <script src="/frontend/js/jquery.js"></script>
  <script type="text/javascript">
    var data = JSON.parse(localStorage.getItem('dataLogin'));
    console.log(data);
    $.ajax({
        method : 'POST',
        url : '/pemesananMe',
        data : {id_user:data.id_user}
    }).done(function(response){
        var data = ``;
        var menu = ``;
        var menuFoto = ``;
        response.forEach(function(item) {
          item.pesan_menus.forEach(function(it) {
              menuFoto += `<img src="/frontend/images/${it.menu.foto}" style="width:100px;height:100px"></img>`;
          });
        });
        response.forEach(function(item) {
          item.pesan_menus.forEach(function(it) {
              menu += `${it.menu.nama} </br>`;
          });
        });
        response.forEach(function(item) {
          // item.pesan_menus.forEach(function(ad) {
          //   menuFoto += `<img src="/frontend/img_user/${ad.menu.foto}" alt="" id="output" class="img-rounded img-responsive">`;
          // });
          data += `<div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              ${menuFoto}
            </div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>ID Pesan</td>
                    <td>${item.pemesanan_online.id_pesan}</td>
                  </tr>
                  <tr>
                    <td>Nama Menu</td>
                    <td>${menu}</td>
                  </tr>
                    <td>Total Harga</td>
                    <td>${item.total_harga}</td>
                  </tr>
                  <tr>
                      <td>Status</td>
                      <td>${item.pemesanan_online.status}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>`
        });

        $("#pesanan").html(data);
        console.log(menu);
        console.log(response);
    }).error(function(response){
      console.log(response);
    })
  </script>
